@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


/* defalt css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tex-left{
    text-align: left;
}
.tex-right{
    text-align: right;
}
.tex-center{
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
    
}
body{
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* defalt css end */



/* blog post area start */

.header-area{
    padding-top: 10px;

}
.logo{
    float: left;
    width: 30%;
}
.main-menu{
    float: left;
    width:45%;
}
ul li{
    display: inline-block;
    
}
nav a{
    display:block;
    padding: 14px 14px;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.header-right{
    float: right;
    width: 25%;
    text-align: right;
}

.social-links a{
    display: inline-block;
    padding-right: 10px;
    padding-top: 14px;
    color: black;
}
.filled-btn{
    padding: 10px 10px ;
    background-color: rgb(236, 236, 125);
    border-radius: 5px;
    display: inline-block;
    color: red;
    
}
.main-menu nav ul li {
    position: relative;
    z-index: 1;
 }
 
 .main-menu nav ul li::after {
    content: "";
    border-bottom: 5px;
    background-color: blue;
    width: 0%;
    height: 2px;
    position: absolute;
    transition-duration: 0.4s;
    transform: scale(0);
 }
 .main-menu nav ul li:hover:after {
    width: 100%;
    transform: scale(1);
 }
 .main-menu nav ul .active::after {
     content: "";
     width: 100%;
     border-bottom: 5px;
     background-color: blue;
     height: 2px;
     position: absolute;
     bottom: 0;
     left: 0; 
} 

/* main-menu nav end */


/* blog post area start */


 .blog-post .filled-btn{
    padding: 10px 10px ;
    background-color: rgba(105, 105, 226,.6);
    border-radius: 50px;
    display: inline-block;
    color: red;
    margin-top: 20px;
 }

 .blog-post_sidebar{
     padding-top: 80px;
 }

 .blog-post-wrapper{
     float: left;
     width: 70%;
 }
 .blog-meta ::after{
    content: "/";
}
.blog-post h2{
    color: black;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.blog-post h2 a{
    display: inline-block;
}
.blog-post .blog-meta a{
    display:inline-block;
    color: black;
    font-size: 16px;
    font-family: 400;
    padding-bottom: 5px;
}
.blog-post-wrapper .blog-post{
    padding-right: 20px;
    border-right: 2px solid  rgba(106, 106, 194, 0.4);
    box-sizing: border-box;
}

.saidbar {
    float: right;
    width: 30%;
    padding-left: 30px;
 }
 
 .widget:nth-child(1) {
    margin-top: 0px;
 }
 
 .widget {
    margin-top: 50px;
 }
 
 .widget h4 {
    font-size: 24px;
 }
 
 .widget-links a {
    color: black;
    display: inline-block;
    padding: 10px 0px;
 }

/* blog post area end */


 /* .subscription-section end */

 .subscription-area{
     background :url(assets/img/subscription-bg.jpg) ;
     height: 350px;
     margin-top: 50px;
     margin-bottom: 100px;
     border: 2px solid red;
 }
 .subscription-content h4{
     color: white;
 }
 .subscription-content p{
     color: white;
 }
 .subscription-content form button{
     display:block;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
     border: none;
     padding: 8px 40px ;
     overflow: hidden;
 }
 .subscription-content{
     margin-top: 50px;
 }
 .subscription-content h4{
     margin-bottom: 5px;
     font-size: 24px;
     font-weight: 600;
 }
 .subscription-content p{
     margin-bottom: 10px;
     font-size: 12px;
     font-weight: 400;
 }
 .subscription-content form input{
     padding: 8px 60px;
     border-radius: 10px;
}
/* .subscription-section end */




 /* footer-section start*/
 .footer-wedget ul {
     display: inline-block;
 }
 .footer-wedget{
     padding-left: 10px;
     padding-top: 15px;
 }
    
 .footer-wedget a{ 
     display: inline-block;

 }
 .footer-wedget {
    float: left;
    width: 25%;
 }
 
 .footer-wedget h4 {
    font-size: 16px;
    padding-bottom: 10px;
 }
 
 .footer-wedget-links a {
    color: black;
    padding-bottom: 10px;
    display: block;
 }
 
 .footer-wedget span a {
    display: inline-block;
    padding: 10px 10px;
    color: black;
 }
 
 .last-item {
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 25px;
 }
 /* footer section end */


 /* blog css end */


 /* home css start */
 .banner-btn .filled-btn{
    padding: 10px 15px ;
    background-color: rgba(0, 0, 180,.6);
    border-radius: 15px;
    display: inline-block;
    color: black;
    margin-top: 30px;
    color: white;
    
 }
 .banner-area .banner-items-wrapper{
     padding-top: 250px;
 }
 .banner-items-wrapper .banner-items{
     float: left;
     width: 30%;
   
 }
 .banner-items-wrapper .banner-items h1{
     font-weight: 700;
     color: white;
    
 }
 .banner-items-wrapper .banner-items p{
     margin-top: 15px;
     font-size: 8px;
     color: white;
   
 }
 .banner-area{
     background-image: url(assets/img/header\ baner.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 160px;
    position: relative;
 }
 .banner-area::before{
       content: "";
        width: 100%;
        height: 100%;
        background-color: #000;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.4;
}
/* home area css */
.items-one{
    float: left;
    width: 55%;
}
.items-two{
    float: right;
    width: 45%;
}
.items-one {
    position: relative;
    padding-right: 30px;
   
 }
 
 .items-one span i {
    position: absolute;
    top: 160px;
    left: 268px;
    font-size: 90px;
    color: #cfcf2cd6;
 }
 .items-two h3 {
    font-weight: 600;
    font-size: 18px;
    color: black;
    margin-bottom: 3px;
 }
 
 .items-two .first-p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
 }
 
 .items-two p {
    font-size: 11px;
    font-weight: 400;
 }
 
 .items-two a {
     position: relative;
    display: inline-block;
    margin-top: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}
 
 .items-two a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    border-bottom: 5px;
    background: yellow;
    bottom: 0;
    right: 1px; 
    transition: 0.4s;
    transform: scale(0);
 }
 .items-two a:hover::after{
    width: 100%;
    transform: scale(1);

 }
 .home-area{
     padding-bottom: 50px;
 }
 /* card-section start */
 .card-wedget{
     float: left;
     width:calc(33.33% - 30px);
     margin-right: 30px;
     margin-top: 20px;
     position: relative;
    
 }
 .card-wedget :nth-child(3){
     margin-right: 0px;
 }
 
 .card-items{
     position: absolute;
 }

 .card-items {
    top: 295px;
    left: 43px;
    color: white;
 }
 
 .card-items h4 {
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
 }
 
 .card-items h6 {
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 400;
 }
 
 .card-items p {
    font-weight: 400;
    font-size: 11.9px;
    text-align: left;
 }
 .card-items a {
    position: relative;
   display: inline-block;
   margin-top: 25px;
   font-weight: 600;
   padding-bottom: 5px;
   color: white;
}
.card-items span img{
    background: white;
}

.card-items a::after {
   content: "";
   position: absolute;
   width: 0%;
   height: 3px;
   border-bottom: 5px;
   background: yellow;
   bottom: 0;
   right: 1px; 
   transition: 0.4s;
   transform: scale(0);
}
.card-items a:hover::after{
   width: 100%;
   transform: scale(1);
}
.medle-btn{
    text-align: center;
    margin-top: 25px;
}
.medle-btn a{
    border-radius: 15px;
}

/* travel guide start */
.travel-guide{
    background-image: url(assets/img/Travel\ Guide.jpg);
    height: 750px;
    width: 100%;
    margin-top: 95px;
    background-repeat: no-repeat;
    background-size: cover;
}
.travel-items-wrapper{
    text-align: center;
}
.travel-items{
    margin-top: 50px;
    color: white;  
}

.travel-guide .filled-btn {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    color: black;
    font-size: 20px;
    display: inline-block;
 }
 .non-filled-btn a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    border-bottom: 5px;
    background: yellow;
    bottom: 0;
    right: 1px; 
    transition: 0.4s;
    transform: scale(0);
 }
 .non-filled-btn a {
    position: relative;
   display: inline-block;
   margin-top: 13px;
   font-weight: 600;
   padding-bottom: 5px;
   color: black;
 }
 .non-filled-btn a:hover::after{
    width: 100%;
    transform: scale(1);
 }
 .non-filled-btn{
     text-align: center;
     margin-top: 110px;
     margin-bottom: 90px;
     font-size: 32px;
 }
 .mdl-items h3 {
    font-weight: 600;
    font-size: 18px;
    color: black;
    margin-bottom: 3px;
 }
 
.mdl-items{
    float: left;
    width: 30%;
}
 
 .mdl-items p {
    font-size: 11px;
    font-weight: 400;
 }
 
 .mdl-items a {
     position: relative;
    display: inline-block;
    margin-top: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}
 
.mdl-items a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    border-bottom: 5px;
    background: yellow;
    bottom: 0;
    right: 1px; 
    transition: 0.4s;
    transform: scale(0);
 }
 .mdl-items a:hover::after{
    width: 100%;
    transform: scale(1);
 }
 .mdl-items h3 {
    font-size: 29px;
    font-weight: 600;
    padding: 7px 7px;
 }
 
 .mdl-items p {
    font-size: 13px;
    text-align: justify;
    padding: 7px 7px;
 }
 
 .mdl-items {
    background-color: #ddd;
    border-radius: 2px;
    padding-bottom: 20px;
    margin-right: 34px;
    margin-bottom: 90px;
 }

 .mdl-items span {
    padding: 7px 7px;
 }
 .view-all .filled-btn{
     text-align: center;
 }
 .read-more{
     margin-bottom: 30px;
 }
 /* sider area start */
 .sider-area{
     margin-top: 90px;
 }
 .sider-items{
     float: left;
     width:calc(50% - 50px);
     margin-right: 50px;
 }
 .side-topics{
     margin-top: 50px;
 }
 
 .side-topics h3 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
 }
 
 .side-topics p {
    margin-top: 15px;
    font-size: 14px;
 }
 
 .side-topics span a {
    margin-top: 38px;
 }
 
 
 
/* sider area end */
